networks:
  proxy:
    external: true

services:
  back:
    build:
      context: ../back
      dockerfile: deploy/Dockerfile
      args:
        DATABASE_URL: ${DATABASE_URL}
        NODE_VERSION: ${NODE_VERSION}
        NPM_VERSION: ${NPM_VERSION}
      target: app
    image: "${CONTAINER_REGISTRY_PREFIX}${APP_IMAGE_NAME}-back:${VERSION:-latest}"
    container_name: "${APP_IMAGE_NAME}-back"
    ports:
      - '${PORT}:${PORT}'
    profiles:
      - backend
    healthcheck:
      test: node -e "require('http').get({hostname:'localhost', port:${PORT}, path:'/health', timeout:3000})"
      retries: 3
      timeout: 3s
    environment:
      - CORS_ORIGIN
      - DATABASE_URL
      - HOST
      - JWT_SECRET
      - JWT_REFRESH_SECRET
      - JWT_EXPIRES_IN
      - JWT_REFRESH_EXPIRES_IN
      - LOG_LEVEL
      - NODE_CLUSTER
      - NODE_ENV=production
      - NODE_TLS_REJECT_UNAUTHORIZED
      - PORT
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${APP_IMAGE_NAME}-back.rule=Host(`${TRAEFIK_BACK_HOST}`)"
      - "traefik.http.routers.${APP_IMAGE_NAME}-back.entrypoints=https"
      - "traefik.http.routers.${APP_IMAGE_NAME}-back.tls=true"
      - "traefik.http.services.${APP_IMAGE_NAME}-back.loadbalancer.server.port=${PORT}"
    networks:
      - proxy
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  front:
    build:
      context: ../front
      dockerfile: deploy/Dockerfile
      args:
        DATABASE_URL: ${DATABASE_URL}
        NODE_VERSION: ${NODE_VERSION}
        NPM_VERSION: ${NPM_VERSION}
    image: "${CONTAINER_REGISTRY_PREFIX}${APP_IMAGE_NAME}-front:${VERSION:-latest}"
    container_name: "${APP_IMAGE_NAME}-front"
    profiles:
      - frontend
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.${APP_IMAGE_NAME}-front.rule=Host(`${TRAEFIK_FRONT_HOST}`)"
      - "traefik.http.routers.${APP_IMAGE_NAME}-front.entrypoints=https"
      - "traefik.http.routers.${APP_IMAGE_NAME}-front.tls=true"
      - "traefik.http.services.${APP_IMAGE_NAME}-front.loadbalancer.server.port=80"
    networks:
      - proxy
    restart: unless-stopped


  postgres:
    container_name: "${APP_IMAGE_NAME}-postgres"
    image: postgres:16.2-alpine
    profiles:
      - db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $POSTGRES_DB_NAME -U postgres"]
    networks:
      - proxy
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB_NAME}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres:/var/lib/postgresql/data


volumes:
  postgres:
    driver: local
