@layer base {
  :root {
    --primary: #2563eb;
    --primary-foreground: #ffffff;

    --secondary: #64748b;
    --secondary-foreground: #ffffff;

    --accent: #22c55e;
    --accent-foreground: #ffffff;

    --muted: #f1f5f9;
    --muted-foreground: #475569;

    --border: #e7ebec;
    --border-dark: #99aaae;
    --input: #f8fafc;
    --ring: #93c5fd;

    --background: #ffffff;
    --foreground: #0f172a;

    --card: #f2f4f5;
    --card-foreground: #0f172a;

    --popover: #ffffff;
    --popover-foreground: #0f172a;

    --text: #334155;
    --text-light: #64748b;

    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
  }

  .dark {
    --primary: #3b82f6;
    --primary-foreground: #1e3a8a;

    --secondary: #94a3b8;
    --secondary-foreground: #1e293b;

    --accent: #4ade80;
    --accent-foreground: #064e3b;

    --muted: #1e293b;
    --muted-foreground: #cbd5e1;

    --border: #334155;
    --border-dark: #2b3748;
    --input: #1e293b;
    --ring: #60a5fa;

    --background: #0f172a;
    --foreground: #f1f5f9;

    --card: #1e293b;
    --card-foreground: #f1f5f9;

    --popover: #1e293b;
    --popover-foreground: #f1f5f9;

    --text: #e2e8f0;
    --text-light: #94a3b8;

    --destructive: #dc2626;
    --destructive-foreground: #fef2f2;
  }
}
