@import "@radix-ui/themes/styles.css";
@import "@radix-ui/themes/tokens.css";
@import "@radix-ui/themes/components.css";
@import "@radix-ui/themes/utilities.css";

@import "tailwindcss";
@import "./fullcalendar.css";
@import "./_colors.css";
@import "./_variables.css";

@plugin "tailwindcss-animate";

@theme {
  --color-primary-light: var(--primary-light);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);
  --color-border-dark: var(--border-dark);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-text: var(--text);
  --color-text-light: var(--text-light);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
}

@theme .dark {
  --background: #020817;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
  font-weight: bold;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
  font-weight: bold;
}

/* ANIMATION */
@keyframes subtleBounce {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-25px);
  }
}

.subtle-bounce {
  animation: subtleBounce 5s ease-in-out infinite;
}

.select-content {
  width: var(--radix-select-trigger-width);
}

.w-color-compact {
  --compact-background-color: var(--color-card) !important;
}

.MuiPopper-root {
  pointer-events: auto;
}

.MuiPickersSectionList-root {
  width: auto !important;
  min-width: 0 !important;
}

.MuiButtonBase-root {
  font-size: 14px;
  text-transform: capitalize;
}

.fc-event.event--readonly {
  opacity: 0.3;
}

.fc-event.event--template {
  opacity: 1;
  border-style: dashed;
  box-shadow: inset 0 0 0 2px white;
}

.fc .fc-list-event-title {
  vertical-align: middle;
}

.edit-mode .fc-view-harness::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  box-shadow: inset 0 0 0 2px var(--color-destructive);
}
