@import "@radix-ui/themes/styles.css";
@import "@radix-ui/themes/tokens.css";
@import "@radix-ui/themes/components.css";
@import "@radix-ui/themes/utilities.css";

@import "tailwindcss";
@import "./fullcalendar.css";
@import "./_colors.css";
@import "./_variables.css";

@plugin "tailwindcss-animate";

@theme {
  --color-primary-light: var(--primary-light);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);
  --color-border-dark: var(--border-dark);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-text: var(--text);
  --color-text-light: var(--text-light);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
}

@theme .dark {
  --background: #020817;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* ANIMATION */
@keyframes subtleBounce {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-25px);
  }
}

.subtle-bounce {
  animation: subtleBounce 5s ease-in-out infinite;
}

.select-content {
  width: var(--radix-select-trigger-width);
}

.w-color-compact {
  --compact-background-color: var(--color-card);
}

.MuiPopper-root {
  pointer-events: auto;
}

.MuiPickersSectionList-root {
  width: auto;
  min-width: 0 !important;
}

.MuiButtonBase-root {
  font-size: 14px;
  text-transform: capitalize;
}

/*** FullCalendar ***/

.fc-today-button {
    cursor: pointer;
}

.fc-event.event--readonly {
  opacity: 0.3;
}

.fc-event.event--template {
  opacity: 1;
  border-style: dashed;
  box-shadow: inset 0 0 0 2px white;
}

.fc .fc-list-event-title {
  vertical-align: middle;
}

.edit-mode .fc-view-harness::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  border-radius: var(--radius-md);
  box-shadow: inset 0 0 0 2px var(--color-destructive);
}

.fc-timeGridWeek-view .fc-timegrid-now-indicator-container {
    overflow: visible;
}
.fc-timeGridWeek-view .fc-timegrid-now-indicator-line {
    width: calc(700% + 6px);
}

.fc-timeGridWeek-view .fc-day:nth-child(2) .fc-timegrid-now-indicator-line {
    --fc-now-indicator-shift: 0%;
}
.fc-timeGridWeek-view .fc-day:nth-child(3) .fc-timegrid-now-indicator-line {
    --fc-now-indicator-shift: 14.29%;
}
.fc-timeGridWeek-view .fc-day:nth-child(4) .fc-timegrid-now-indicator-line {
    --fc-now-indicator-shift: 28.57%;
}
.fc-timeGridWeek-view .fc-day:nth-child(5) .fc-timegrid-now-indicator-line {
    --fc-now-indicator-shift: 42.86%;
}
.fc-timeGridWeek-view .fc-day:nth-child(6) .fc-timegrid-now-indicator-line {
    --fc-now-indicator-shift: 57.14%;
}

.fc-timeGridWeek-view .fc-day .fc-timegrid-now-indicator-line {
    transform: translateX(calc(-1 * var(--fc-now-indicator-shift)));
}
.fc .fc-timegrid-now-indicator-line {
    border-color: var(--color-secondary);
}

.fc .fc-timegrid-now-indicator-arrow {
    margin-top: -4px;
    border: none;
    background: var(--color-secondary);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: auto;
    right: -4px;
}